{% extends 'paginas/modelo-kgb.html' %} {% load static %} {% block titulo %}
<title>Página Inicial</title>
{% endblock %} {% block conteudo %}
<h1>Página Inicial</h1>

{% if request.user.is_authenticated %}
{% if user.perfil.nome_completo %}
<strong>
  Bem vindo ao sistema {{user.perfil.apelido}}. {% else %} Você precisa
  completar seu cadastro. Acesse os
  <a href="{% url 'atualizar-dados' %}">meus dados</a> para atualizar.</strong
>
{% endif %}
{% else %}
Você precisa
  se cadastrar. Acesse o
  <a href="{% url 'registrar' %}">registrar</a>.</strong
>
{% endif %}

<div id="slider">
  <a href="#" class="control_next"><i class="fa fa-arrow-circle-right" style="font-size:36px;color:grey" aria-hidden="true"></i></a>
  <a href="#" class="control_prev"><i class="fa fa-arrow-circle-left" style="font-size:36px;color:grey" aria-hidden="true"></i></a>
  <ul>
    <li>
      <a href="#" target="_blank">
        <img src="{% static 'img/img1.jpg' %}" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="{% static 'img/img2.jpg' %}" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="{% static 'img/img3.jpg' %}" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="{% static 'img/img4.jpg' %}" />
      </a>
    </li>
  </ul>
</div>
<script>
  $(function () {
    $('#checkbox').change(function () {
      setInterval(function () {
        moveRight();
      }, 3000);
    });
    var slideCount = $('#slider ul li').length;
    var slideWidth = $('#slider ul li').width();
    var slideHeight = $('#slider ul li').height();
    var sliderUlWidth = slideCount * slideWidth;
    $('#slider').css({
      width: slideWidth,
      height: slideHeight,
    });
    $('#slider ul').css({
      width: sliderUlWidth,
      marginLeft: -slideWidth,
    });
    $('#slider ul li:last-child').prependTo('#slider ul');
    function moveLeft() {
      $('#slider ul').animate(
        {
          left: +slideWidth,
        },
        200,
        function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
        }
      );
    }
    function moveRight() {
      $('#slider ul').animate(
        {
          left: -slideWidth,
        },
        200,
        function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
        }
      );
    }
    $('a.control_prev').click(function () {
      moveLeft();
    });
    $('a.control_next').click(function () {
      moveRight();
    });
  });
</script>

{% endblock %}
