{% extends 'paginas/modelo-kgb.html' %} {% load static %} {% block titulo %}
<title>Login</title>
{% endblock %} {% block conteudo %}
<div class="row">
  {% if request.user.is_authenticated %}
  <div class="col-md mx-auto">
    <h3>
      <i class="fa fa-exclamation" aria-hidden="true"></i>
      Ação não permitida
    </h3>
    <hr />
    <p class="lead">
      <strong>
        Ocorreu um erro para processar a ação desejada ou você não tem
        permissão.
      </strong>
    </p>
    <div style="height: 13vh"></div>
  </div>
  {% else %}
  <div class="col-md-4 mx-auto">
    <h3>Login</h3>
    <!-- <p class="lead">Preencha todos os campos obrigatórios.</p> -->
    <hr />
    <form action="" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-secondary">Entrar</button>
    </form>
    {% endif %}
  </div>
</div>
<div style="height: 36.3vh"></div>
{% endblock %}
